*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
div{
    padding: .625rem;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #fff;
    margin: .3125rem;
    padding: .3125rem .625rem;
    font-size: 1.25rem; 
}
input, select{
    padding: .3125rem 1.25rem;
    margin: .3125rem;
    font-size: 1rem;
    border: none;
    border-radius: 15px;
    background: #f3f3f3;
    height: 1.5625rem;
    outline: none;
}
.encabezado{
    background: #2980b9;
    height: 3.125rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.lateral{
    background: #2980b9;
    position: absolute;
    bottom: 0px;
    top: 3.125rem;
    display: flex;
    flex-direction: column;
    width: 15%;
}
.contenido{
    background: #fff;
    position: absolute;
    top: 50px;
    left: 15%;
    width: 85%;
    height: calc(100vh - 3.125rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}   
    .contenido > a{
        width: 15%;
    }
    .boton{
        background: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
    }
    /* .contenido > a > div{
        background: #000;
        border-radius: 15px;
        width: 15%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */
        .icono{
            color: #fff;
            font-size: 3rem;
        }
